In [2]:
import pandas as pd
import numpy as np

In [61]:
from sklearn.datasets import make_regression

dataf = make_regression(n_samples=500, n_features=8, n_informative=5)
dataf = pd.DataFrame(dataf[0])
dataf.columns = ['a','b','c','d','e','f','g','h']

In [8]:
dataf = pd.read_csv(r'/Users/anupam/Downloads/Telco-Customer-Churn.csv')

In [14]:
def dftolist(dataf):

    list_of_dict=[]
    cols = dataf.columns.tolist()

    for i in range(dataf.shape[0]):
        internal_dict={}

        for j, val in enumerate(dataf.iloc[i,:].values):
            internal_dict[cols[j]] = val

        list_of_dict.append(internal_dict) 
    return list_of_dict

#TODO

0. Ensure correct datatypes for columns
1. Imputation -> Mean/etc., MICE
2. Standardization -> MinMaxScaler, StandardScaler
3. Encoding -> OrdinalEncoder, OneHotEncoder
4. Binning
5. Feature selection


Wrap in a ColumnTransformer, also provide its equivalent code

# 0. Correct datatypes

In [64]:
column_names = dataf.columns.astype('str').tolist()
data_types = dataf.dtypes.astype('str').tolist()

In [65]:
datatypes = dict(zip(column_names, data_types))

In [66]:
datatypes

{'a': 'float64',
 'b': 'float64',
 'c': 'float64',
 'd': 'float64',
 'e': 'float64',
 'f': 'float64',
 'g': 'float64',
 'h': 'float64'}

In [4]:
inputs = dataf.dtypes.astype('str').tolist()
inputs

NameError: name 'dataf' is not defined

In [68]:
inputs[5] = 'int64'
inputs[3] = 'str'
inputs

['float64',
 'float64',
 'float64',
 'str',
 'float64',
 'int64',
 'float64',
 'float64']

In [69]:
for var, input_type in zip(column_names, inputs):
    dataf[var] = dataf[var].astype(input_type)

In [70]:
dataf.dtypes

a    float64
b    float64
c    float64
d     object
e    float64
f      int64
g    float64
h    float64
dtype: object

### Correct datatype ensured.

# 1. Imputation

1. Replacement of different null types with a common null value

In [23]:
import re

In [25]:
dataf.customerID[0] = 111231

/var/folders/k5/l531tc5j2070y5w0jlhbhfcw0000gn/T/ipykernel_1174/3526727515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataf.customerID[0] = 111231

In [30]:
re.sub('[0-9]','null', dataf)

TypeError: expected string or bytes-like object

In [32]:
dataf.replace({'?':np.nan, 'null':np.nan, 'NULL':np.nan, '':np.nan}, inplace=True)
dataf

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure(months),PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges(Rs.),TotalCharges(Rs.),Churn
0,111231,Female,NaN,Yes,NaN,1,NaN,No phone service,DSL,NaN,...,NaN,NaN,NaN,NaN,Month-to-month,Yes,Electronic check,29.85,29.85,NaN
1,5575-GNVDE,Male,NaN,NaN,NaN,34,Yes,NaN,DSL,Yes,...,Yes,NaN,NaN,NaN,One year,NaN,Mailed check,56.95,1889.50,NaN
2,3668-QPYBK,Male,NaN,NaN,NaN,2,Yes,NaN,DSL,Yes,...,NaN,NaN,NaN,NaN,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,NaN,NaN,NaN,45,NaN,No phone service,DSL,Yes,...,Yes,Yes,NaN,NaN,One year,NaN,Bank transfer (automatic),42.30,1840.75,NaN
4,9237-HQITU,Female,NaN,NaN,NaN,2,Yes,NaN,Fiber optic,NaN,...,NaN,NaN,NaN,NaN,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,NaN,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,NaN
7039,2234-XADUH,Female,NaN,Yes,Yes,72,Yes,Yes,Fiber optic,NaN,...,Yes,NaN,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,NaN
7040,4801-JZAZL,Female,NaN,Yes,Yes,11,NaN,No phone service,DSL,Yes,...,NaN,NaN,NaN,NaN,Month-to-month,Yes,Electronic check,29.60,346.45,NaN
7041,8361-LTMKD,Male,Yes,Yes,NaN,4,Yes,Yes,Fiber optic,NaN,...,NaN,NaN,NaN,NaN,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,NaN,NaN,NaN,66,Yes,NaN,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,NaN

In [33]:
nulls = dataf.isnull().sum().to_frame()
nulls.reset_index(inplace=True)
nulls.columns = ["column","null_count"]

dftolist(nulls)

[{'column': 'customerID', 'null_count': 0},
 {'column': 'gender', 'null_count': 0},
 {'column': 'SeniorCitizen', 'null_count': 5901},
 {'column': 'Partner', 'null_count': 3641},
 {'column': 'Dependents', 'null_count': 4933},
 {'column': 'tenure(months)', 'null_count': 0},
 {'column': 'PhoneService', 'null_count': 682},
 {'column': 'MultipleLines', 'null_count': 3390},
 {'column': 'InternetService', 'null_count': 1526},
 {'column': 'OnlineSecurity', 'null_count': 3498},
 {'column': 'OnlineBackup', 'null_count': 3088},
 {'column': 'DeviceProtection', 'null_count': 3095},
 {'column': 'TechSupport', 'null_count': 3473},
 {'column': 'StreamingTV', 'null_count': 2810},
 {'column': 'StreamingMovies', 'null_count': 2785},
 {'column': 'Contract', 'null_count': 0},
 {'column': 'PaperlessBilling', 'null_count': 2872},
 {'column': 'PaymentMethod', 'null_count': 0},
 {'column': 'MonthlyCharges(Rs.)', 'null_count': 0},
 {'column': 'TotalCharges(Rs.)', 'null_count': 0},
 {'column': 'Churn', 'null_count': 5174}]

In [5]:
def dftolist(dataf):


    dataf['Scores_Obtained'] = dataf['Scores_Obtained'].astype('int')
    dataf['MaxMarks'] = dataf['MaxMarks'].astype('int')

    list_of_dict=[]
    cols = dataf.columns.tolist()

    for i in range(dataf.shape[0]):
        internal_dict={}

        for j, val in enumerate(dataf.iloc[i,:].values):
            internal_dict[cols[j]] = val

        list_of_dict.append(internal_dict) 
    return list_of_dict

In [6]:
dd = pd.DataFrame([], columns=['Scores_Obtained','MaxMarks'])
dd['Scores_Obtained']=[1,2,3,4,5,6]

In [11]:
dd['MaxMarks']=[10,10,20,20,30,30]

In [12]:
dd

   Scores_Obtained  MaxMarks
0                1        10
1                2        10
2                3        20
3                4        20
4                5        30
5                6        30

In [45]:
dataf.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
inputt=['object','int','float','object']

In [11]:
pd.Series(inputt).replace({'object':'str'}).tolist()

['str', 'int', 'float', 'str']

In [35]:
dataf.dropna(inplace=True)

In [36]:
dataf

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure(months), PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges(Rs.), TotalCharges(Rs.), Churn]
Index: []

[0 rows x 21 columns]

In [40]:
n = nulls[nulls.null_count>3000]

In [34]:
dataf.loc[dataf.loc[dataf["Age"].isnull(), "Age"].index.tolist(), "Age"]

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [3]:
import pandas as pd
dataf = pd.read_csv(r'/Users/anupam/Downloads/titanic.csv')

In [2]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
import numpy as np

In [8]:
dataf.replace({'?':np.nan, 'null':np.nan, 'Null':np.nan, 'NULL':np.nan, '':np.nan}, inplace=True)
nulls = dataf.isnull().sum().to_frame()

In [44]:
type(dataf.loc[5, "Age"])

numpy.float64

In [27]:
pd.DataFrame({"column":nulls[nulls[0]>0].index.tolist(), "null_count":nulls[nulls[0]>0].values.tolist()})

     column null_count
0       Age      [177]
1     Cabin      [687]
2  Embarked        [2]

In [54]:
dataf.Survived.astype('Int64')

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: Int64